<html>
  <head>
    <link rel="stylesheet" href="static/jquery-ui/jquery-ui.css">
    <link rel="stylesheet" href="static/style.css">
    <script type="text/javascript" src="static/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="static/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript">

      $(function(){
        //Needed for Multiautocomplete
        function split( val ) {
          return val.split( /;\s*/ );
        }
        function extractLast( term ) {
          return split( term ).pop();
        }
        $("#auto")
        // don't navigate away from the field on tab when selecting an item
        .on( "keydown", function( event ) {
          if ( event.keyCode === $.ui.keyCode.TAB &&
          $( this ).autocomplete( "instance" ).menu.active ) {
            event.preventDefault();
          }
        })
        .autocomplete({
          source: function( request, response ) {
            $.getJSON( "http://westpoort.informatik.uni-mannheim.de:80/auto", {
              model: $("#models").val(),
              term: extractLast( request.term )
            }, response );
          },
          select: function( event, ui ) {
            var terms = split( this.value );
            // remove the current input
            terms.pop();
            // add the selected item
            terms.push( ui.item.value );
            // add placeholder to get the comma-and-space at the end
            terms.push( "" );
            this.value = terms.join( "; " );
            return false;
          }
        });
		$("#auto_citations")
        // don't navigate away from the field on tab when selecting an item
        .on( "keydown", function( event ) {
          if ( event.keyCode === $.ui.keyCode.TAB &&
          $( this ).autocomplete( "instance" ).menu.active ) {
            event.preventDefault();
          }
        })
        .autocomplete({
          source: function( request, response ) {
            $.getJSON( "http://westpoort.informatik.uni-mannheim.de:80/auto_citations", {
              model: $("#models").val(),
              term: extractLast( request.term )
            }, response );
          },
          select: function( event, ui ) {
            var terms = split( this.value );
            // remove the current input
            terms.pop();
            // add the selected item
            terms.push( ui.item.value );
            // add placeholder to get the comma-and-space at the end
            terms.push( "" );
            this.value = terms.join( "; " );
            return false;
          }
        });


      $("#recommend-auto").click(function(){
        console.log("Getting recommendations...");
        $("#results").empty().text("Getting recommendations...")
        $.ajax({
          url:"http://westpoort.informatik.uni-mannheim.de:80/recommend_auto",
          data:{"data":$("#auto").val(), "model":$("#models").val()}
        }).done(function(data){
          $("#results").html(data);
        }).fail(function() {
          console.error( "Server error" );
          $("#results").empty().text("Server error, please try again later!")
        })
      });
	  
	  $("#recommend-gnn-citations").click(function(){
        console.log("Getting recommendations...");
        $("#results").empty().text("Getting recommendations. This might take a few minutes...")
        $.ajax({
          url:"http://westpoort.informatik.uni-mannheim.de:80/recommend_gnn_citations",
          data:{"model":$("#models").val(), "title":$("#title").val(), "abstract":$("#abstract").val(), "citations":$("#auto_citations").val()}
        }).done(function(data){
          $("#results").html(data);
        }).fail(function() {
          console.error( "Server error" );
          $("#results").empty().text("Server error, please try again later!")
        })
      });


      $("#recommend-gnn-heterogeneous").click(function(){
        console.log("Getting recommendations...");
        $("#results").empty().text("Getting recommendations. This might take a few minutes...")
        $.ajax({
          url:"http://westpoort.informatik.uni-mannheim.de:80/recommend_gnn_heterogeneous",
          data:{"model":$("#models").val(), "title":$("#title").val(), "abstract":$("#abstract").val(), "citations":$("#auto_citations").val(), "authors":$("#auto").val()}
        }).done(function(data){
          $("#results").html(data);
        }).fail(function() {
          console.error( "Server error" );
          $("#results").empty().text("Server error, please try again later!")
        })
      });

      $("#clear").click(function(){
        $("#auto").val("");
		$("#auto_citations").val("");
        $("#title").val("");
		$("#abstract").val("");
        $("#results").empty();
      });
    });

    </script>
  </head>
  <body>
    <div class="input-div">
      {% if model_type =="gnn_heterogeneous" %}
		<textarea class="input" id="title" rows="4" placeholder="Please insert your title here"/>
		<textarea class="input" id="abstract" rows="4" placeholder="Please insert your abstract here"/>
		<input class="input" multiple placeholder="Citation(s)" id="auto_citations"/>
		<input class="input" style="margin-bottom: 1em;" multiple placeholder="Author(s) Name(s)" id="auto"/>
        <div class="button-div">
          <button class="button-style" type="button" id="recommend-gnn-heterogeneous">Recommend</button>
          <button class="button-style" type="button" id="clear">Clear</button>
        </div>
	  {% elif model_type =="gnn_citations" %}
		<textarea class="input" id="title" rows="4" placeholder="Please insert your title here"/>
		<textarea class="input" id="abstract" rows="4" placeholder="Please insert your abstract here"/>
		<input class="input" multiple placeholder="Citation(s)" id="auto_citations"/>
		<div class="button-div">
          <button class="button-style" type="button" id="recommend-gnn-citations">Recommend</button>
          <button class="button-style" type="button" id="clear">Clear</button>
        </div>
      {% else %}
        {% if model_type=="authors" %}
          <input class="input" multiple placeholder="Author(s) Name(s)" id="auto"/>
        {% endif %}
        <div class="button-div">
          <button class="button-style" type="button" id="recommend-auto">Recommend</button>
          <button class="button-style" type="button" id="clear">Clear</button>
        </div>
      {% endif %}
    </div>
  </body>
</html>